[2019-03-11 13:29] adimako commented on #913
After looking at 3PSed2D, I am suspicious of the conversion of the sed equation in nonconservative form.

The old version (conservative, terms multiplied with vos) is here https://github.com/erdc/proteus/blob/bd0233c171bb9b122b9c27ddcd13539bacad743f/proteus/mprans/RANS3PSed2D.h

@cekees I have some questions:

- Does the hamiltonian correspond to the form of the pressure that we have in the conser

[2019-03-11 19:22] cekees commented on #913
No, I think I consistently divided through by vos. It completely cancels out of the time derivative, acceleration (Hamiltonian), gravitation, and pressure terms. That's basically why I did it, so that the equation remains well-behaved as vos -> 0.

Can you point me to what you mean by the pressure friction term?

[2019-03-12 08:34] adimako commented on #913
I think when you pushed the conversion to nc form, the drag terms were changed (divided by vos)
https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS3PSed.h#L866,

But the friction terms did not
https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS3PSed.h#L914
https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS3PSed.h#L928

[2019-03-13 11:43] adimako commented on #913
@cekees - Addressed.

There was a term missing in the pressure friction stress which is the solid stress due to its own weight. See #916 that addresses the issue. There is a discussion of what these contact stresses mean - I am not sure that we need the friction "repulsive" stress now as we are limiting it numerically, and the only place where its gradient will have any relevance is at the interfa

[2019-03-13 12:20] adimako commented on #913
Will close - but further discussion is needed.

[2019-03-13 12:20] #913 closed

[2019-03-18 20:09] cekees opened #922 "Refactor TwoPhaseFlow App"
- [ ] rewrite parun as pro using argparse
- [ ] replace app option as subcommand and move over app-specific options to subcommand
- [ ] split off some phases as subcommands (e.g. mesh)
- [ ] move _p,_n,_so modules into single file using p/n/so object-based approach
- [ ] move petsc options files into same single python file and set through petsc4py
- [ ] create subdirectory for apps
- [ ] refactor

[2019-03-18 20:23] manuel-quezada commented on #922
Sorry for the stuff about fast archiving. I was having some troubles when outputting big files here at Kaust so I introduced that to speed up the process but I was not intending to get that into master. And, by the way, it didn't help much.

[2019-03-18 20:37] cekees commented on #922
No problem. Good to know the story behind it. The archiving needs a good cleaning soon, so I'd be interested it any performance information. We could probably add some options to selectively disable archiving for some fields.

[2019-03-18 20:48] cekees commented on #922
@tridelat and @manuel-quezada  here is a simple example of object-based physics and numerics in a single-file problem description: https://github.com/erdc/proteus/blob/master/proteus/tests/periodic/duct.py

The basic idea is to just walk through the needed models setting up a default object and then overriding the options, then set up the global system parameters. e.g.
[code]
This avoids the neces

[2019-03-26 17:08] cekees opened #929 "Update cnumericalFlux.pyx to fix signatures and missing functions"
See comments in https://github.com/erdc/proteus/pull/926

[2019-03-26 17:08] cekees opened #930 "Update cfemIntegrals.pyx to fix signatures and missing functions"
See comments in https://github.com/erdc/proteus/pull/926

[2019-03-26 17:09] cekees opened #931 "Update ctimeIntegration.pyx to fix signatures and any missing functions"
See comments in https://github.com/erdc/proteus/pull/926

[2019-03-27 19:13] manuel-quezada commented on #908
Closed since this was solved within #921

[2019-03-27 19:13] #908 closed

[2019-03-27 19:23] manuel-quezada opened #935 "Potential issue in some Step Controllers"
All step controllers have a function called `initialize_dt_model` (or they use the one in the base class). Inside some of them `self.t_model_last` is initialized to `t0`. This seems correct to me. However, some step controllers don't do this. For example `Min_dt_controller` doesn't do this. As a result, if one runs a single model simulation based on this step controller and then try to hot start,

[2019-03-27 21:10] cekees commented on #935
Thanks. I'll take a look. Did you try applying that  fix in Min_dt_contorller?

[2019-03-27 21:34] manuel-quezada commented on #935
Yes. I did that very simple fix and it worked. I was trying to restart some shallow water simulations but I kept getting negative water heights. After some debugging I realized the time step was large because of that reason and that created the problem. I thought on doing a PR but I can't be sure if not setting self.t_model_last=t0 is intentional. Indeed some step controllers call some functions f

[2019-04-09 14:42] manuel-quezada opened #941 "Error when computing max wave speed for SW2DCV"
There is an error during the computation of the max wave speed in the following line:

https://github.com/erdc/proteus/blob/master/proteus/mprans/SW2DCV.h#L648

We must consider the absolute values; i.e., `max(abs(lambda1), abs(lambda2))`, or consider the commented previous line. This is a major bug. Indeed I am guessing that we did the computations in the paper considering lambda to be given by t

[2019-04-12 18:41] adimako commented on #907
This could be because I am not setting the coefficients file right. I will refactor the TwoPhaseFlow model and then retest

[2019-05-22 09:10] adimako opened #966 "Potential bug in TwoPhase flow & relaxation zones?"
We have tried running the following case and it seems like there is something off with the relaxation zone.

https://github.com/erdc/air-water-vv/tree/overtopping/2d/waveOvertopping/Random_waves_CLASH

We have been working with it for some time now. We noticed that moving the assembleDomain command lower than the setGeneration and setAbsorption kills the waves inside the generaiton zone.

Having t

[2019-05-22 13:21] tridelat commented on #966
@adimako if you do `assembleDomain(...)` before defining the generation zones, you should have the same results as if you removed the generation zones definition, as it means that the auxiliary variables will not be added to the `domain` instance at all.
I had a quick look at the file and the relaxation zones definition seem fine (apart from having assembleDomain call before it).
Were the cases wi

[2019-05-22 13:35] adimako commented on #966
Understood.
But when we put the definition after the setGeneration zone etc., it will kill the waves.

@msklia do you have a snapshot from an old run showing that the wave does not propagate? Or could you send a video?

[2019-05-22 13:43] tridelat commented on #966
@adimako could you try the wave propagation with `Tank2D` class instead of `Tank2DWithObstable` as well? The gen/abs definitions are overridden in `Tank2DWithObstacle` (subclass of `Tank2D`)

[2019-05-22 13:51] adimako commented on #966
We will try, but with the old scripts (with p and n files) seems to run ok with Tank2DWithObstacle

[2019-05-22 15:07] tridelat commented on #966
I think this line should be added (after assembling the domain):
[code]
Ideally, this should be done automatically in the future, but for now this line must be added in the main file.
My concern is that if you didn't add this line, I don't think the relaxation zones should even be linked at all, so I don't know why it killed the wave generation.

[2019-05-22 15:08] adimako commented on #966
So move <assembleDomain> at the end and add this line

[2019-05-22 15:10] tridelat commented on #966
Yes, `assembleDomain` after everything is done with the geometry and auxiliaryVariables

[2019-05-29 13:40] tridelat commented on #966
@adimako is this solved?

[2019-06-18 11:13] adimako commented on #966
We are still not getting the correct wave.
![image](https://user-images.githubusercontent.com/8258298/59677627-362b4880-91c2-11e9-9bbd-cfab3eacf12c.png)
In the figure above, we have old script, new script and theoretical at the exit of the relaxation zone.  You can see that the new script is doing something random.

We get the same issues at the boundary, we are investigating to see if we have set

[2019-06-18 12:16] adimako commented on #966
We have forgot to put Unsteady flow boundary conditions in both scripts, re-running now

[2019-06-21 00:21] cekees opened #976 "mprans.BoundaryConditions doc's missing"
https://proteustoolkit.org/api/proteus.mprans.BoundaryConditions.html

[2019-06-22 18:14] tridelat commented on #976
#977 addressed this and now the doc shows up on https://proteustoolkit.org/api/proteus.mprans.BoundaryConditions.html

[2019-06-22 18:14] #976 closed

[2019-06-22 18:19] tridelat opened #979 "ALE mesh: free surface disturbed when moving"
When using ALE mesh, it seems that the free surface gets disturbed, particularly on the first few steps of moving the mesh.
This  can be particularly obvious when using MoveMeshMonitor as the mesh can move significantly from the initial step to the next step. This issue still occurs when waiting for a few time steps before moving the mesh.

[2019-06-29 16:00] cekees opened #985 "fix incorrect assertions in SW2DCV and GN_SW2DCV"
/home/travis/build/erdc/proteus/proteus/mprans/GN_SW2DCV.py:389: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (self.model.boundaryIndex is None and self.model.normalx is not None,
/home/travis/build/erdc/proteus/proteus/mprans/SW2DCV.py:350: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (self.model.boundaryIndex is None and self.mode

[2019-07-01 15:10] adimako commented on #966
Differences:
-At Mcorr model, checkMass is False for the TWP app

[2019-07-10 21:42] tridelat opened #991 "Add tests in proteus.mbd"
**Tests to add for proteus.mbd (FSI):**
- [ ] moments/forces retrieved from NS (update barycenters directly in RANS2P/RANS3P or check that moment calculations are right)
- [ ] added-mass matrix in local coordinates (e.g. rotate body with "inifinitely" far domain boundaries and check that matrix is the same)
- [ ] add simple and cheap floating/submerged body case as a test

[2019-08-14 08:43] msklia commented on #966
Hi all, after some searching in both the old script and the two phase flow app, I have written down some of the differences that exist in the values of the numerical parameters. Please find it attached in the following spreadsheet. In the file you can also find comments on the parameters used and the ones that were recently changed locally to check their influence on the overtopping discharge resu

[2019-10-10 13:11] adimako opened #1013 "parun breaking in Hydra"
We get an index violation error when running for two phase flow. args_v is empty (is supposed to be empty as we only have options when running two phase

Problems arise ins this line

https://github.com/erdc/proteus/blob/92e4b62fd8d9a38930f8315cd57ebd35e42f68ef/scripts/parun#L368

Suggested fix

add

`args.append(opts.fileName)` before this line

We tested and it works, but it might not be conform

[2019-10-10 13:17] adimako opened #1014 "Shape STL issues for multiple stl blocks"
https://github.com/erdc/proteus/blob/789d4fc10dcf152d15e43b2d9bccd871511e5acf/proteus/SpatialTools.py#L1055

The modified function works and builds the mesh but we have issues in open boundaries.

I will post the test case soon

[2019-10-10 14:05] tridelat commented on #1013
@adimako what command do you use to launch the simulation? In 1.7, you should not use `-f` in front of the name of the file when using TwoPhaseFlow:
`parun [filename] --TwoPhaseFlow [...]`

[2019-10-10 14:30] adimako commented on #1013
Yes, I think we do not use the -f flag amymore. Suggest change in syntax rather than changing code. Ok to close?
parun **floating2D_2PF.py** --TwoPhaseFlow -f  -l 10 -v -O $HOME/PROTEUS/air-water-vv/inputTemplates/petsc.options.asm -D Trials/Python3Test/0.406497 -C "T=60 forced_freq_n=0.406497 genMesh=True use_gmsh=False"

[2019-10-10 14:45] BranocRichards commented on #1013
Yeah, this seems to solve the issue, sorry all.

[2019-10-10 14:45] #1013 closed

[2019-10-11 11:37] adimako commented on #1014
It looks like re-writting the script carefully removed the issues. I will check some runs and I will close if everything ok. I will post an example on air-water-vv

[2019-10-11 14:26] adimako commented on #1014
Careful inspections of scripts resolved issues. Closing

[2019-10-11 14:26] #1014 closed

[2019-10-11 15:24] BranocRichards opened #1016 "Python3 data type errors in Parun"
When running a case with the following:

system.setTimestepperType('Euler')
system.setCouplingScheme'CSS', prediction="backwardEuler")
The following error is obtained:
TypeError: expected bytes, str found

If the following (as i understand it, identical) options are tried:
system.setTimestepperType(b'Euler')
system.setTimestepperType('Euler'.encode('utf-8'))
I get this error:
AssertionError: b'Eul

[2019-10-14 08:52] adimako commented on #966
All, I think we are all happy that the two phase flow App is working. I will close issue as not being relevant anymore

[2019-10-14 08:52] #966 closed

[2019-10-14 09:04] adimako commented on #1016
There was an error I had with gatherTimes, that it does not seem to be able to reproduce. I will let you know if it shows again

[2019-10-23 13:37] davidbrochart opened #1018 "conda-forge package"
I'm trying to build Proteus for conda-forge: https://github.com/conda-forge/staged-recipes/pull/9942
I am running into several problems. To start with, do you recommend taking the latest release of Proteus (1.7.0)?

[2019-10-25 02:07] davidbrochart commented on #1018
It seems that Chrono is a dependency of Proteus (1.7.0), can you please confirm @cekees?

[2019-10-25 02:13] cekees commented on #1018
That's right. We can disable the modules that depend on it if it becomes a problem. It's got a pretty straightforward build system. The hashdist recipe may be useful:

https://github.com/erdc/stack/blob/master/pkgs/chrono/chrono.yaml

[2019-12-05 07:45] davidbrochart opened #1026 "TriangleTools.py removed"
There used to be an interface to Triangle in `proteus/TriangleTools.py` (see https://proteustoolkit.org/api/proteus.TriangleTools.html). The file is not present in master. Is it not supported any more?

[2019-12-05 14:53] cekees commented on #1026
That's correct. The license for triangle is problematic, and we decided to go the route of file-based interaction through the triangle CLI, as we do with tetgen for 3D meshes. I guess we need to clean up the docs and double check that we have all the functionality we need. /cc @tridelat

[2019-12-05 17:26] tridelat commented on #1026
@davidbrochart @cekees yes those need to be removed manually so it can be hard to catch. As they were committed previously for the documentation, and even though these files are not (re)generated anymore when building the docs, they are still there and will appear on the website unless explicitly deleted first.
Btw, doc is probably going to move to https://github.com/erdc/proteus-doc at some point

[2019-12-10 19:12] zhang-alvin commented on #713
Perhaps use erdc/proteus_old; through repository copy

[2019-12-11 08:55] zhang-alvin commented on #922
It's not clear to me what the goal for `TwoPhaseFlow` is. With it's current capabilities, it looks like it's the interface which most users should be building cases in Proteus since it can handle domain generation, mesh generation, and analysis specification in a single file.

The initialization function of `TwoPhaseFlowProblem` assumes that the user is using some combination of a flow model and i

[2019-12-11 09:10] zhang-alvin commented on #922
On a separate note, I think the initialization function can be condensed from

[code]

to

[code]

The boundary and initial conditions need to be attached to their respective models within Proteus anyway, so it's better to just have the user be directly responsible for adding it in after the `TwoPhaseFlowProblem` instantiation. Several of the other flags such as `nd` and `he` can be attributes of

[2019-12-11 19:02] zhang-alvin commented on #922
My understanding is that  https://github.com/erdc/proteus/blob/master/proteus/TwoPhaseFlow/utils/petsc.options.asm is not a needed file anymore because of

https://github.com/erdc/proteus/blob/master/proteus/TwoPhaseFlow/utils/Parameters.py#L1483

from PR #954

[2019-12-11 23:46] adimako opened #1030 "Relaxation zone vert_axis"
This is set by default to 2 in Tank3D and STL classes.
This can lead to errors difficult to resolve particularly for STL files that may be given with y vertical axis. The plan is to be able to be able to set the axis through the setGeneration zone and setAbsorption zone functions

[2019-12-16 18:01] zhang-alvin commented on #713
Current size:
[code]

[2019-12-17 19:16] zhang-alvin commented on #713
I've created a cleaned copy of the repo with only the master branch existing at `https://github.com/zhang-alvin/cleanProteus`. The size of a raw clone and `git-lfs fetch --all` is:

[code]

For reference, the cleaned repo was made through the following steps:
[code]

There is an assumption that large files (>1MB) that are not referenced by the master branch are to be removed, and those that are ne

[2019-12-17 21:35] cekees commented on #713
Looks like over a factor of 4 reduction, right? Does it seem like a reasonable plan to do one more release on the 1.7 branch with the history as is, then copy that repository to proteus-old, then run your cleaning commands? I suppose we should try to close out as many branches as possible before doing the history rewrite. Since those old branches would be intact on the backed up (old) repository,

[2019-12-18 03:13] tridelat commented on #1030
Fixed with #1032

[2019-12-18 03:13] #1030 closed

[2019-12-18 06:26] zhang-alvin commented on #713
Yes, it's quite a drastic reduction in size since I remove any file (object) that is not referenced by the master branch. Assuming none of the previous releases had any true dependencies on such large files, then it might be possible to preserve the various releases as branches on the repo.

Regarding the number of branches, I think it would be best to do the following:

1. Copy repo to proteus-ol

[2019-12-18 15:40] tridelat opened #1040 "Automatic documentation build"
So right now, the "new" documentation is on a separate repository (proteus-doc), and the process to push documentation is not automatic at all. There are 3 ways to do it:
- Manual: build the intended version of proteus; build doc locally to specific folder; add changed files, new files, and remove unused files; commit; push to gh-pages branch.
- readthedocs: can automatically document Proteus, ful

[2019-12-18 16:53] cekees commented on #1040
I think once we get the kinks worked out of the conda package (https://github.com/erdc/proteus/pull/1037), then readthedocs may work:
https://docs.readthedocs.io/en/stable/guides/conda.html#activating-conda
Agree that travis is probably the most flexible approach.

[2019-12-18 17:36] cekees commented on #713
That sounds good. How about this for some of the details on how to get this finished:

1. Get the current PR's merged in (except the TwoPhaseFlow refactoring, which I'm guessing @zhang-alvin you can close and reopen later). @zhang-alvin maybe you could take a crack at some of the final tweaks to the conda package to get all the tests passing--I made a few here: https://github.com/erdc/proteus/pull

[2019-12-18 20:22] tridelat commented on #713
@cekees for the documentation, it might actually be easier to bring it back on the main repo if we want to build it automatically (see #1040)

[2019-12-26 18:17] zhang-alvin opened #1044 "Possible Rework of .h5-based Tests (because of PR #1039)"
Some issues are popping up in PR #1039, where tests are failing because comparisons are made against solution files computed from different meshes (due to version changes in the mesh generator).

This leads to errors of the following type:
[code]

One approach is to move towards metric-based tests. @manuel-quezada, you mentioned that some tests are already using a metric-based approach. Could you

[2020-01-06 22:35] zhang-alvin commented on #1044
The following is the current approach to generating comparison files for tests.

[code]

The following are the remaining .h5 files in the tests directory, which represent the tests that still need to be modified:

[code]

[2020-01-12 08:06] manuel-quezada commented on #1044
Hi @zhang-alvin . Sorry for the delay, I was on vacations and had almost no access to a good internet connection. Maybe you already found the tests. Anyway, the tests in `tests/elliptic_redist` consider the Linf norm of the solution. And in `tests/ProjScheme_with_EV' I consider a similar metric. Those are the only ones (that I did) and I could find, but I might be missing another one.

[2020-01-16 10:13] JohanMabille opened #1056 "Both conda and hashdist builds"
A travis build based on hashdist should be added in #1039 so that both build approaches continue to be tested. This would ease the merge of the `conda` branch into `master.

[2020-01-16 10:14] JohanMabille opened #1057 "Integrate xtensor into the hashdist build"
Since the hashdist build needs to be maintained, if we want to migrate cython to xtensor, this latter should be integrated into the hashdist configuration.

[2020-01-16 14:54] davidbrochart commented on #1056
I have a PR for that: https://github.com/erdc/proteus/pull/1053

[2020-01-16 15:53] davidbrochart commented on #1057
@cekees Is `hashdist` able to handle header-only libraries?
An alternative would be to have a mixed `conda`/`hashdist` environment, where `conda` would only install `xtensor-python` (which basically puts files in an include directory).

[2020-01-17 15:55] davidbrochart commented on #1057
I have a PR for that: https://github.com/erdc/proteus/pull/1054
It basically just downloads `xtensor-python` and its dependencies, and adds their include directories when compiling xtensor-based extensions.

[2020-01-17 20:01] zhang-alvin commented on #713
Just an updated roadmap for this issue:

Merge in #1039, #1040, #1052.

Then I'll go and duplicate/clone the repo into `proteus_old` and go ahead and remove all files larger than 25-50kb that does not currently exist in the master branch. Any necessary files will be added back after the purge.

[2020-01-17 20:19] zhang-alvin commented on #1056
It looks like the failing test is very sensitive to the numerical packages being used and probably needs a proper overhaul more so than what I attempted. In that sense, I'd just turn off/skip the test for now.

[2020-01-18 22:25] cekees commented on #1057
Yes, I don't think there is already a base recipe for a header-only package, but you can so something like the autotools recipe without the `make` stage and simply copying the headers to the $ARTIFACT/include directory:

https://github.com/erdc/hashstack/blob/master/base/autotools_package.yaml

[2020-01-20 09:34] davidbrochart commented on #1056
New PR is here: https://github.com/erdc/proteus/pull/1060

[2020-01-20 18:49] zhang-alvin opened #1063 "Dambreak_solver_options test redesign"
Problem mentioned in issue #1056.

The TwoPhaseFlow/dambreak_solver_options test fails via the hashdist build but not via the conda build.

[code]
In fact, the numerics fail fairly early on.

[code]

My experience was that refining the mesh did not resolve this issue, which suggests that the test should be redesigned.

[2020-01-22 21:13] zhang-alvin commented on #1056
#1060 has been merged in. I think we can close this now.

[2020-01-22 21:13] #1056 closed

[2020-01-22 21:41] zhang-alvin opened #1067 "TPF: __init__ functions for models has unnecessary logic"
Based on discussions with @tridelat

In the initialization of some models' coefficients class, like `RANS2P.Coefficients`, there is
already logical evaluations based on the model attributes:

https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS2P.py#L238-L275

This means that the class cannot be instantiated without appropriate attributes being set. This makes the code harder to read an

[2020-01-23 22:39] zhang-alvin opened #1069 "TPF: proposal for refactoring initial conditions"
The current method to set initial conditions is through a user-specified dictionary

[code]
The user has to know that for the `rans2p` or `rans3p` models, 0 corresponds to pressure. The use of numerical keys for the dictionary doubles as indices when setting the `numpy arrays` for the dofs in https://github.com/erdc/proteus/blob/master/proteus/Transport.py#L1627-L1650.

To make this more user frie

[2020-01-28 16:20] tridelat commented on #1067
Closing as this was addressed with #1070

[2020-01-28 16:20] #1067 closed

[2020-01-28 23:22] dloney opened #1073 "Installing with "make develop" using existing py2 environment"
When I use an anaconda python 2 environment, I have the issue where the proteus build does not create the linux directory as its build destination, but rather overwrites the existing python 2 conda environment to create a python 3 environment. The issue appears to be that the build has an issue creating the correct folder structure. Here's what I see in my build process:

Linking stack/default.yam

[2020-01-29 00:12] zhang-alvin commented on #1073
@dloney, just to clarify, do you intend to build proteus through `hashdist`?

[2020-01-29 04:43] zhang-alvin commented on #1044
@manuel-quezada Okay, that's good to know since there seem to be some hard-coded values in those tests that you mentioned which i presume are the norms. Ultimately, we've opted to use .csv comparisons for simplicity/to avoid non-uniqueness.

[2020-01-29 04:45] zhang-alvin commented on #1044
I'm going to close this issue as this is resolved, with the exception of the pending merge of #1072.

[2020-01-29 04:45] #1044 closed

[2020-01-29 12:23] dloney commented on #1073
Hi Alvin. Yes, that's what I was hoping. It appears to jump over to the conda build system though when it fails with hashdisk.

[2020-01-29 14:49] zhang-alvin commented on #1073
Could you also post the commands you used to start the build? If you used `make develop`, it looks like it's skipping the building of the dependencies `https://github.com/erdc/proteus/blob/master/Makefile#L143-L154`.

[2020-01-30 08:41] JohanMabille commented on #1057
`xtensor` is now integrated in the hdist build.

[2020-01-30 08:41] #1057 closed

[2020-01-30 08:48] JohanMabille opened #1076 "Migrating mprans to xtensor"
This issue is meant to track the migration of the mprans module to `xtensor`. This will be splitted in many steps to ease the merge of PRs and avoid having too many conflicts.

[ ] Replace C-style arrays with `pyarray` in the C++ api exposed to Python
[ ] Replace all the arguments with a dictionnary of arguments
[ ] Move implementations to cpp files
[ ] Propagate `pyarray` to the implementation
[

[2020-01-30 15:37] cekees commented on #1076
Thanks or this @JohanMabille . I know we discussed the dictionary of arguments approach. Do you have a prototype of this yet, say for calculateResidual of RANS2P?

[2020-01-30 15:41] cekees commented on #1073
@dloney I'd also recommend excluding anaconda python from your path since my understanding is that conda overrides pip,  and we use that in the proteus build process. Hashdist should be fine with the system python2 to execute the  build. When starting from a failed build like this, it's probably worth manually removing any old prefix directory, such as llinux and/or linux2.

[2020-01-30 16:18] JohanMabille commented on #1076
Not yet, binding a map of pyarrays does not prevent the copy of numpy arrays when called from the Python side. I know how to fix that but it won't be immediate, thus my question in https://github.com/erdc/proteus/pull/1068

[2020-01-30 22:06] zhang-alvin commented on #713
Below is a list of the files + file sizes in the repo in descending order. The first column denotes the size in kB, the second the packed size in kB, the third the SHA of the file:

[fileSizes.txt](https://github.com/erdc/proteus/files/4136406/finishedFiles.txt)

As one might expect, there are a number of files from the tests that need to be removed. There are also other types of files:

12979  16

[2020-01-30 22:14] zhang-alvin commented on #713
Separate notebooks repo through the following instructions: https://medium.com/@ayushya/move-directory-from-one-repository-to-another-preserving-git-history-d210fa049d4b

[2020-01-30 22:21] tridelat commented on #713
@zhanga is that for files that do not exist anymore on the latest master? Would be nice to get a 70-80% shrinkage! There are a few files .cpp and .c that are autogenerated code in the list, like ChRigidBody.cpp or WaveTools.cpp, so these can go

[2020-01-30 22:36] zhang-alvin commented on #713
@tridelat These are just the largest files in the repository, not just on the latest master. Part of the difficulty is that it's not clear sometimes which .cpp files are source code or cythonized/autogenerated code, which is why I'd go for a "remove top 150 + .h5 files" approach.

It doesn't look like there's much stuff in the current `doc` directory. Are there any large documentation files that s

[2020-01-30 23:28] cekees commented on #713
I'm OK with just checking if the large cpp files are actually in the current master.

[2020-01-30 23:31] tridelat commented on #713
@zhang-alvin yes that's what I thought, I meant to ask if it was the top 150 files that are anywhere in the repo but *not* in the latest master.

The `docs` directory only contains what is necessary to build the docs, but not the built docs itself, those are in the `gh-pages` branch (and going to move to a separate repo soon)

[2020-01-31 12:57] dloney commented on #1073
@zhang-alvin All I did was `make develop` within the conda environment, so I didn't modify anything from its default configuration. I started with clean environment and a new clone of proteus.

[2020-01-31 13:03] dloney commented on #1073
@cekees That makes sense. Even if you called pip within a conda environment, it would still target just that single directory. It's still strange that the build is throwing an error on making the folder though.

How does removing conda from the path and bashrc affect the ability to use conda environments from the terminal for other applications? Wouldn't one need to have a secondary terminal like

[2020-02-01 06:37] zhang-alvin opened #1078 "conda-forge gmsh version updated, gmsh tests failing"
gmsh tests are still too rigid. We can increase the threshold, but for the 2D case, there's a factor of 10 difference in the expected value.

[code]

[2020-02-04 02:48] zhang-alvin commented on #1078
#1079 merged in

[2020-02-04 02:48] #1078 closed

[2020-02-04 20:45] zhang-alvin opened #1081 "MeshAdaptPUMI: createAnalyticGeometry.cpp has hard-coded gradeMesh factor"
Need to refactor interface to pass grading factor through to analytic geometry section.

[2020-02-04 22:26] zhang-alvin opened #1082 "Need to update conda-forge recipe"
conda-forge version is 1.7.1 which encounters the following error in `proteus_notebooks/Tutorials/Tutorial_1/Introduction.ipynb`

[code]

[2020-02-08 18:23] zhang-alvin commented on #1082
need to remove .h5 references in setup.py file

[2020-02-08 19:11] zhang-alvin commented on #713
[finalList_tests.txt](https://github.com/erdc/proteus/files/4174943/finalList_tests.txt)

List of files to be deleted. The cleaning process doesn't look for unique paths and instead simply matches filenames for deletion. The result is that some tests will fail because some files share names with those being removed from history. Such files will be added back after the fact.

The first column is th

[2020-02-09 05:27] zhang-alvin commented on #713
Cleaned mirror clone pushed to this repo. The original mirror clone + git lfs fetch --all was 1.3 GB. The cleaned repo mirror clone with git lfs fetch --all is 444 MB. There's a possibility of additional size reduction when more branches are deleted.

Users will see an even smaller footprint as a regular git clone + git lfs fetch --all yields only a 93 MB directory.

[2020-02-09 21:21] zhang-alvin opened #1087 "Revising tests after cleanup"
The following tests were turned off as they depended on large file sizes (>100kB):

**1MB proteus/tests/STLBlocks.stl**
proteus/tests/test_spatialtools.py::TestShapeDomainBuilding::test_BC_flags
proteus/tests/test_spatialtools.py::TestShapeDomainBuilding::test_assemble_domain
proteus/tests/test_spatialtools.py::TestShapeDomainBuilding::test_create_shapes

**400kB proteus/tests/TwoPhaseFlow/compari

[2020-02-12 07:51] JohanMabille opened #1092 "Cleanup import *"
Once #1068 has been merged, a cleanup pass is required to remove all `import *` from the Python code.

[2020-02-14 06:17] zhang-alvin commented on #713
[secondPass_deleteList.txt](https://github.com/erdc/proteus/files/4202996/secondPass_deleteList.txt)

List of files deleted from second pass of cleanup via bfg. The repo size seems to have increased since the initial cleanup - possibly additional branches. It is currently at 96MB with git lfs fetch --all. Removing the listed files also didn't seem to yield the size reduction according to the size

[2020-02-14 06:19] zhang-alvin commented on #713
Closing the issue now as most goals were accomplished.

[2020-02-14 06:19] #713 closed

[2020-02-14 16:36] zhang-alvin opened #1095 "Pull Request Template"
Having finished the repo cleanup, I'm concerned if large files are ever added into the repository again. I haven't found a GitHub app that can check/compare added file sizes for PRs, so a partial solution is to add a PR template to remind developers and reviewers to check such things.

There might be other things we can add to the template (e.g. don't use import *, suggest naming schemes for varia

[2020-02-17 11:25] cekees commented on #1076
@tridelat, can you take a shot at helping @JohanMabille add the xtensor dependencies to the stack as proper hashdist recipes and remove get_xtensor.sh?   I think we should do this before the release. /cc @zhang-alvin

[2020-02-17 21:35] tridelat commented on #1076
@cekees @JohanMabille see https://github.com/erdc/stack/pull/43

[2020-02-18 19:05] #1092 closed

[2020-02-25 17:00] davidbrochart opened #1101 "pychrono 5.0.0 API change"
It looks like pychrono 5.0.0 has some backward-incompatible API changes, like `chrono/solver/ChSolverMINRES.h` which has been renamed `chrono/solver/ChSolverPMINRES.h` (and the corresponding C++ objects). For this particular example, these files have to be updated:
- `proteus/mbd/ProtChMoorings.h`
- `proteus/mbd/ProtChBody.h`

A compilation log can be found in the proteus conda-forge recipe (https

[2020-02-25 18:04] tridelat commented on #1101
@davidbrochart are we switching to 5.0.0 now? I think it's a good idea to upgrade in any case, just wondering if there is a particular feature from 5.0.0 that we would like to have right away.
I will look at those compatibility issues on the mbd files

[2020-02-25 21:12] davidbrochart commented on #1101
I don't know, it's really up to you. The thing is that I got pychrono to compile in conda-forge on OSX for v5.0.0, but I didn't try with v4.0.0. I thought we agreed to wait for v5.0.0 to enable OSX, but if it's needed right now we could try and have a v4.0.0 on OSX too.

[2020-02-25 22:21] tridelat commented on #1101
Some classes changed in 5.0.0, making some members private when they were accessible before. This makes it difficult for derived Chrono classes defined in proteus/mbd that need to use those private members, so I am not sure that it will be an easy switch, see PR #1102

[2020-02-25 22:56] davidbrochart commented on #1101
pychrono v4.0.0 now compiles on OSX too (https://github.com/conda-forge/pychrono-feedstock/pull/8), so no worries if proteus can't switch to v5.0.0 right now.

[2020-02-25 23:45] cekees commented on #1101
@tridelat there are probably several ways around this in the short run. On the hashdist side you can just patch the chrono source with the data made public again or maybe more correctly add member functions or friend declarations to recover access to what you need. I'm guessing conda has a patch capability as well. It's a bit surprising that the chrono changes don't provide a way to get/set the da

[2020-02-26 00:55] tridelat commented on #1101
@cekees I decided to redeclare the private variables, so it "hides" the parent private variable. Hopefully this won't create issues.
Now I run in compilation problems with cython with an error at a higher level (setup.py) with limited information about the error. To compile, I use the stack from https://github.com/erdc/stack/pull/48

[2020-02-26 01:00] tridelat commented on #1101
@cekees I am also surprised that some of those variables were made private (not sure what was the reason for this). Even though a typical user of Chrono would not need to access them, it makes it rather inconvenient to derive child classes. Protected attribute might have been sufficient

[2020-02-26 01:02] tridelat commented on #1101
The compilation error:
[code]

[2020-02-26 07:12] tridelat commented on #1101
@cekees @davidbrochart just an update: got past this error, it seems that it was because of trying to use the operator() on a variable without declaring it. In any case, it compiles with chrono 5.0.0 now on #1102

[2020-02-26 09:35] davidbrochart commented on #1101
Awesome @tridelat, should we make a minor release of proteus, so that I can update the conda-forge feedstock?

[2020-02-26 19:20] tridelat commented on #1101
@davidbrochart yes we can do a minor release if it helps for the conda side, we just need to make sure that the switch to 5.0.0 does not introduce bugs first

[2020-02-27 08:28] davidbrochart commented on #1101
I tried to build proteus in conda-forge on OSX using chrono v4.0.0, but I get a strange error (`Symbol not found: _dcopy_`):
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=125290&view=logs&j=ce7cbaa7-582c-5570-40f4-267b3d85fc9f&t=4a56039b-7269-50ae-de7a-538e91e6de06&l=49124

[2020-02-27 16:38] tridelat commented on #1101
@davidbrochart not sure about this error on OSX.
I get errors on the the tests of the conda dev install of PR https://github.com/erdc/proteus/pull/1103 which should not affect any part of the code. I forced chrono =4.0.0 in environment-dev.yml (because it defaults to 5.0.0 otherwise), but maybe some other packages were updated to a new version and cause the errors?
The errors are due to small mism

[2020-02-27 20:34] tridelat opened #1104 "Buildbot not compiling proteus when stack master is updated"
Buildbot should build proteus when stack master is updated (https://github.com/erdc/stack), as it seems that using an updated stack on a PR using a branch from a fork would not trigger that build.

As there is no cached dependency build, this causes Travis CI to fail when building the dependencies (with error: maximum log length exceeded)

[2020-02-28 20:24] tridelat commented on #1101
@davidbrochart as an update, I the relevant tests to pass with chrono 5.0.0 on #1102, but the conda install is failing some other tests that are not affected by the changes and that used to pass.
I am suspecting that some packages that do not have an explicit version number in `environment-dev.yml` have been updated on the conda side and now give slightly different numerical values on some tests,

[2020-03-01 15:46] davidbrochart commented on #1101
Yes maybe it is due to small numerical differences caused by changes in newer versions of the dependencies. We could pin those dependencies, but that's not good if we want to make proteus install easily in more complex environments. Also, if one day we have to update a dependency, the tests have to be updated anyway.
I agree that this is more work for you, but the best would be indeed to have less

[2020-03-02 14:30] tridelat commented on #1101
@davidbrochart yes I agree, it is better to update the tests rather than pinning dependencies if it makes the install easier on more complex environments.
We already use `np.isclose`, `np.allclose`, and `np.assert_almost_equal` in those tests, but some of them need to be even more loose.

[2020-03-02 20:17] tridelat commented on #1101
Some of those tests seem to have quite a non-negligible variation, e.g.:
[code]
So there might be more than just slight numerical differences, as they pass on the hashdist install

[2020-03-02 20:49] zhang-alvin commented on #1101
There might be merit in switching these solves to using direct solvers if they are not already. The sensitivity in the numerics might be coming from when I switched it over to a constant mesh approach, but the mesh being rather coarse.

[2020-03-04 17:33] tridelat commented on #1101
@davidbrochart if you have an easy way to find the package versions that were used and passing the tests before, it would be useful to pin it. It might actually be better for now to have dependencies fixed to specific versions so we are sure that the build is fit for our applications, and to update dependencies on a case-by-case basis when necessary (and deal with failing tests accordingly)

[2020-03-04 17:40] davidbrochart commented on #1101
Sure, I will look at it.

[2020-03-05 22:07] tridelat opened #1108 "SWFlow and SWFlows"
I just noticed that we have the 2 following subfolders in ./proteus: SWFlow and SWFlows.
They share a lot of common subfolders and files but are not exactly the same.
Is that intentional?

@cekees @ejtovar @zhang-alvin

[2020-03-05 22:19] cekees commented on #1108
No, I think it's just something that needs to be cleaned up when we refactor the SWFlow app

[2020-03-06 00:01] ejtovar commented on #1108
You can remove the directory ‘SWFLows’. The model files are not in that directory.

[2020-03-06 16:31] ejtovar opened #1111 "PointGauges variables with underscore text parsing"
If a model has variables such as `['h', 'h_u', 'h_v']`, the following piece of code will not work:

<pre><code>
heightPointGauges = PointGauges(gauges=((('h_u'), ((7.56, 16.05,  0),
                                                 (7.56, 14.55, 0),
                                                 (7.56, 13.05, 0),
                                                 (7.56, 11.55, 0),

[2020-03-06 16:32] ejtovar commented on #1111
@zhang-alvin

[2020-03-06 17:46] tridelat commented on #1111
@ejtovar what about `('h_u',)` and `('h', 'h_u')`, or `['h_u']` and `['h', 'h_u']`?
I think your problem here is that putting parentheses around a string without a comma does not make it a tuple (`('h_u')` is equivalent to just `'h_u'`), so your code worked fine only if your unique string had a single character. Parentheses are also superfluous for `(['h_u'])`, this works because it is a list

[2020-03-06 18:26] ejtovar commented on #1111
Yes, you are correct!

[2020-03-06 18:40] zhang-alvin commented on #1111
Perhaps we should add a conditional to where the fields are parsed to check if the argument is a tuple and if not, make it a tuple. It seems bizarre for the user to know this.

[2020-03-06 19:30] tridelat commented on #1111
@zhang-alvin There are many places in the code where we are supposed to pass a list of variables even if there is only one variable for some cases in practice.
An extra conditional would not hurt if that makes things easier, but making non-tuple arguments become tuples could cause issues (what if the user passes a list of strings?). Checking if it is a string (field variables are strings here), an

[2020-03-10 15:23] #1111 closed

[2020-03-11 14:53] tridelat commented on #1104
This has been solved, a buildbot worker has been dedicated to build Proteus on the latest stack `master`, and to push the `src` and `bld` to the online levant cache.
See https://github.com/erdc/proteus/pull/1102 for example, where Proteus dependencies build fine.

@cekees @zhang-alvin

[2020-03-11 14:53] #1104 closed

[2020-03-16 22:29] #1108 closed

[2020-03-17 22:31] #1082 closed

[2020-03-18 07:56] davidbrochart commented on #1082
This can be solved by importing mpi4py first thing, see #1047.

[2020-03-18 13:55] zhang-alvin commented on #1082
@davidbrochart Yes this was resolved already with the previous release. If I recall correctly, you had run into the problem earlier and resolved it on the master branch, but it was not included in one of the releases. conda-forge/proteus-feedstock#18 resolved this issue.

[2020-03-18 14:33] #1101 closed

[2020-03-21 15:26] #1095 closed

[2020-04-07 02:09] cekees opened #1125 "Clean up conversion to xtensor"
- [ ] Convert to xtensor: https://github.com/erdc/proteus/blob/master/proteus/mprans/cRANS3PF.pyx
- [x]  Fix name: https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS3PSed.cpp

@JohanMabille @davidbrochart @acatwithacomputer

[2020-04-07 20:54] JohanMabille commented on #1125
I will start to work on it tomorrow.

[2020-04-07 21:13] tridelat commented on #1125
@cekees cMoveMeshMonitor.pyx is not linking a .h file, it is a standalone cython file.
Do you mean this should be converted in C++ and pybind11/xtensor? (this would mean a complete rewriting of the logic inside)

[2020-04-07 21:30] cekees commented on #1125
@tridelat I see. No, I was thinking cMoveMeshMonitor.pyx was just a cython wrapper when I added that. I didn't realize it was actually written in Cython. I agree, that's not worthwhile, so I just removed that item.

[2020-04-08 15:08] JohanMabille commented on #1125
cRANS3PF was intentionally not converted to xtensor because it led to a compilation crash. This is probably due to the number of arguments of the methods, so we should be able to convert it when we have the dictionnary of numpy arrays (on which I started to work).

Investigating RANS3PSed issue for now.

[2020-04-08 16:10] cekees commented on #1125
Thanks @JohanMabille. You can see where I fixed a similar issue on the ADR classes here: https://github.com/erdc/proteus/pull/1097/files#diff-a4fd7c09419a8d7fc8a3552c9de3d404R21

On the RANS3PF, do you want to go ahead and push the pybind11 version with the compilation issue and let me take a look at it? We are seeing increased compilation requirements for the new pybind11 classes, both in terms o

[2020-04-09 08:14] JohanMabille commented on #1125
@cekees I've just pushed the fix, sorry for the delay.

Regarding RANS3PF, I reverted the change for the xtensor migration PR. I will add them again in a dedicated PR. I remembered we tried to switch to -O2 (and also Os at some point), but this flag was overriden, there was another -O3 flags added after and we didn't find where it came from.

[2020-04-09 21:04] cekees commented on #1125
Looks to me like they're being compiled with -O3: https://travis-ci.com/github/erdc/proteus/jobs/317490935

[2020-04-09 21:12] cekees commented on #1125
But, then I see we add -g -O2 at the end from the PROTEUS_OPT setting. I believe that should override the -O3. Anyway, If you add the dedicated PR with the RANS3PF change, I'll take a look.

[2020-04-09 22:43] JohanMabille commented on #1125
Ah, indeed. I was looking at my local build which is similar to the build with conda, where we removed switched from 03 to O2.

I just opened #1128, for the migration of RANS3PF to xtensor

[2020-04-10 09:20] davidbrochart opened #1130 "Files / pointers"
With a fresh fork of `erdc/proteus`, cloning it leads to the following error:
[code]
And these files are seen as locally modified.

[2020-04-10 13:45] davidbrochart commented on #1130
It seems to be because of a bad LFS configuration in my `.gitconfig`.
Closing.

[2020-04-10 13:45] #1130 closed

[2020-04-17 16:58] cekees opened #1139 "init_RANS functions"
@JohanMabille I was doing some local testing of the RANS3PSed class (just merged your PR #1133) and noticed some 2D calls in the 3D pybind11 wrappers:
[code]

I think it probably works fine anyway (just a naming issue), but can you explain what is going on here? I noticed that the RANS2P wrappers don't declare or call a module init function.

[2020-04-17 17:21] JohanMabille commented on #1139
RANS2P and RANS2P2D are actually two separate Python extensions. RANS3PF and RANS3PF2D sill belong to the same Python extension, I just split the bindings in two separate cpp files. This reduces the amount of memory required for building each of these cpp files while not requiring any change on the Python side.

The cpp file defining the bindings still has to bind both classes, thus the `init_XXX`

[2020-04-22 19:49] cekees opened #1142 "remove print statements in MeshAdapt"
e.g. https://github.com/erdc/proteus/blob/master/proteus/MeshAdaptPUMI/cMeshAdaptPUMI.cpp#L596

These are not a bit deal, but they will eventually bite us on large parallel runs because they print on every core. The lines will fill up the std out/err buffer for the compute job and/or fill up your home directory when it finally tries to write the job.o# file.

[2020-04-22 20:01] cekees opened #1143 "automate zoltan partitioning and genPUMI stage"
When we run with the PUMI workflow for existing domain/mesh types, we need to run an unmodified input file to generate the mesh and let PUMI build its own representation of the domain geometry. Then we need to run zsplit to partition it and run a different input file to run in adaptivity. I think it may be possible to remove the requirement for users to manually run the first two steps by adding a

[2020-05-12 01:05] zhang-alvin opened #1179 "Updating arrays after MoveMesh step"
There are a number of data structures that are not properly updated after a MoveMesh step.

`postStep()` (https://github.com/erdc/proteus/blob/master/proteus/mprans/MoveMesh.py#L123) updates the `mesh.nodeArray` which stores the coordinates of the vertices.

There is also a separate `updateAfterMeshMotion` function (https://github.com/erdc/proteus/blob/master/proteus/mprans/MoveMesh.py#L801) that

[2020-05-15 20:24] cekees opened #1183 "Mac OS X testing enhancements"
- [ ] replace whole file/subdir skipping with finer-grained pytest skip statements
- [ ] remove logic in makefile once os command line looks same as linux
- [ ] work through skipped tests to re-enable on os x
- [ ] think about whether there are any os x or linux-specific tests that we should create and tag

My view is that this is low-priority for now.

[2020-05-15 21:09] cekees opened #1184 "Work on consistent/safe way to use PetscOptions and/or file options in tests"

[2020-05-15 22:04] cekees opened #1185 "hpc job templates in config"
Many of the hpc machines have required local config changes, which we include in proteus/config/MACHINE.py. While the require changes are becoming less invasive, we are running into more users who have trouble submitting jobs and running tests on hpc machines. I think we could write into our machine configs both the MPI launch script (mpiexec, aprun, mpiexec_mpt, etc.) and a template job submissio

[2020-05-26 18:52] zhang-alvin opened #1196 "Parallel testing with pytest-mpi"
Just wanted to throw this out as a possibility to achieve tests in parallel:

https://pytest-mpi.readthedocs.io/en/latest/

[2020-05-27 01:21] zhang-alvin opened #1198 "Regression observed with floating body example"
The sparseFactorSolve is spitting out `nans` on the second Newton iteration at t=0.003s for the floating body example: `https://github.com/erdc/proteus_tutorial/blob/master/2d/floating_body.py`
[code]

[2020-05-27 01:30] zhang-alvin commented on #1198
I ran this with commit 299036e024c4ce5c08fa7dacdf9dd7a45debaf70.
The problem does not occur with e9a061da02d393c336e70854c0d2f7a15956c62d.

So something seems to have changed with that massive commit c878cdc56aa877e35a25ea98e0872612f0e84bcd uncutfem 2D implementation. @cekees You have any intuition on this?

[2020-05-27 03:28] cekees commented on #1198
Let me take a look. I found a couple of things as I've been preparing the next PR. I'll see if I can pinpoint it.

[2020-05-28 15:58] #1125 closed

[2020-05-28 16:07] cekees commented on #691
fixed

[2020-05-28 16:07] #691 closed

[2020-05-28 16:11] cekees commented on #1016
Closing; please reopen if it's still an issue.

[2020-05-28 16:11] #1016 closed

[2020-05-28 16:13] #673 closed

[2020-05-28 16:15] #574 closed

[2020-05-28 16:18] cekees commented on #509
not part of docs anymore

[2020-05-28 16:18] #509 closed

[2020-05-28 16:21] cekees commented on #468
fixed

[2020-05-28 16:21] #468 closed

[2020-05-28 16:32] cekees commented on #349
I think this was already addressed.

[2020-05-28 16:32] #349 closed

[2020-05-28 16:38] cekees commented on #234
no longer relevant

[2020-05-28 16:38] #234 closed

[2020-05-28 16:39] cekees commented on #210
no longer relevant

[2020-05-28 16:39] #210 closed

[2020-05-28 16:52] cekees commented on #200
closing; reopen if this is still an issue. There are several workflows for meshing using existing polyfiles, the simplest being setting `genMesh=False` and set the name of the polyfile on the domain object. It doesn't need to parse the polyfile.

[2020-05-28 16:52] #200 closed

[2020-05-28 16:56] cekees commented on #198
believe this was fixed... @adimako please reopen if you've been dealing with time history issues with the Gauges.

[2020-05-28 16:56] #198 closed

[2020-05-28 17:09] cekees commented on #178
2k was correct b/c generalized interpolation requires inverting the mass matrix. higher order quadrature rules have since been added.

[2020-05-28 17:09] #178 closed

[2020-05-28 17:17] cekees commented on #147
We only build the profile if it doesn't exist (i.e. PROTEUS_PREFIX/artifact.json is missing). After that we intentionally don't force rebuilds and push off additional management of the stack to the user (i.e. do a `make distclean` and git submodule or modifications in in ./stack to trigger rebuilds.

[2020-05-28 17:17] #147 closed

[2020-05-28 17:19] cekees commented on #73
Thanks @adimako , agreed.

[2020-05-28 17:19] #73 closed

[2020-05-28 17:21] cekees commented on #71
believe this was fixed with more recent "arch" hashdist profiles that @tridelat was using. reopen if needed.

[2020-05-28 17:21] #71 closed

[2020-05-28 17:25] cekees commented on #61
Mostly addressed when we shifted control to mpi4py and refactored partitioning and flcbdfWrappers with Cython.

[2020-05-28 17:25] #61 closed

[2020-05-28 17:25] cekees commented on #50
fixed

[2020-05-28 17:25] #50 closed

[2020-05-28 17:30] #1198 closed

[2020-05-28 20:09] #1142 closed

[2020-05-29 16:38] cekees commented on #1
The commits linked to above with 1 weren't intended to link to this issue. Generally to ensure correct behavior one has to correctly classify node and boundary material types, the node classification now (and for a while) defaults to zero.  @zhang-alvin we may want to provide a smarter automation of node classification from boundaries in some cases where that's not already done, but I'm closing th

[2020-05-29 16:40] #1 closed, assigned to cekees

[2020-05-29 17:01] cekees commented on #13
Tested that c0p2 convergence with node and element partitioning, 0  and 1 element overlap; closing.

[2020-05-29 17:01] #13 closed, assigned to nobody

[2020-05-29 21:10] ejtovar opened #1201 "Clean up files after doing make test"
When running the Proteus tests via `make test`, there are a lot of mesh (and other) files that are created during this process. All these files clutter the Proteus directory in my opinion. It would be nice if we could clean up these files after the tests have been completed. There are two options we could do:

1. Have each specific test file clean up its own created files
2. Add a `make clean` opt

[2020-06-02 18:20] jhcollins opened #1207 "running absolute and relative paths for --TwoPhaseFlow option"
TwoPhaseFlow app runs the setup files by means of importing them as a python module in parun. Absolute and relative path capability in parun could be added. This helps, for instance, if you have automated run scripts organized in a directory separate from the run files.

[2020-06-08 20:19] jhcollins opened #1208 "FSI issue while running in parallel"
Running setups with moving meshes results in failure in parallel.

To reproduce the error, run the floating_body.py setup in proteus_tutorial/2d in parallel with any commit beyond: e9a061da02d393c336e70854c0d2f7a15956c62d

[2020-06-08 20:23] cekees commented on #1184
* closes #14
* closes #15

[2020-06-08 20:23] #14 closed

[2020-06-08 20:23] #15 closed

[2020-06-08 21:14] zhang-alvin commented on #1208
@jhcollins thanks for catching this. Working on fix.

[2020-06-08 23:07] jhcollins opened #1209 "Incorporation of proteus_tutorials into the testing environment"
adding proteus_tutorial problem setups to the testing environment

[2020-06-09 16:07] zhang-alvin opened #1212 "AddedMass PETSc configuration"
```TwoPhaseFlow app Parameters.py, we need to force the AddedMass PETSc configuration to always use the iterative solver configuration. The superlu/superlu_dist configuration seems to work for me reliably, but since the system is singular (constant null space), I think we generally need to be using an iterative solver configured to be robust and scalable for pure Neumann Poisson problems. ```

[2020-06-11 17:14] zhang-alvin commented on #1179
#1182 will effectively be reverted in #1211 as there were errors popping up in parallel MoveMesh runs.

There may be some additional calls needed to get things smoothed out in parallel such as:
[code]
which is seen after partitioning

[2020-06-11 22:26] #1208 closed

[2020-06-16 17:45] jhcollins opened #1215 "3D parallel FSI issue with re-distancing."
3D parallel FSI problem runs to completion on commit:
66b670184e1544e857aa9dd5bb275518651efd57

Appears to be failing in RDLS on commit:
f338ae42b496515f0a05642650af7d55753a2f1d

[chrono_added_moored_1.log](https://github.com/erdc/proteus/files/4788221/chrono_added_moored_1.log)

[2020-07-31 19:54] zhang-alvin opened #1220 "Smart pointers in C++"
The dynamic memory allocation calls via `new` in C++ should be replaced by smart pointers at some point as a matter of robustness and style moving forward.

[2020-08-13 20:56] jhcollins opened #1221 "Generating current with relaxation zones"
Having issues generating a current in a relaxation zone when the orientations are orthogonal to the current.

example:
Having a single relaxation zone y_n or y_p with a current in x_p. The intended outcome should be ideal duct flow in both the normal region and the relaxation region.

The current code appears to leave q_velocity_porous at 0.0:

![error](https://user-images.githubusercontent.com/37

[2020-08-13 20:59] jhcollins commented on #1221
@tridelat I hope things are going well back in france. If you have a moment, do you think you could help point me in the right direction on getting this figured out?

[2020-08-27 17:53] ejtovar opened #1224 "Generalize hack in SpatialTools for the SWFlow reflecting boundary conditions"
We should generalize the hack introduced in https://github.com/erdc/proteus/pull/1223 for the SWFlow reflecting boundary conditions. Currently, to use partial reflecting boundary conditions, the user sets the boundary flag to `99` and this requires a hack in `proteus/SpatialTools.py`.

[2020-08-27 17:53] ejtovar commented on #1224
@zhang-alvin @cekees

[2020-08-31 20:28] zhang-alvin commented on #1224
An example of how large boundary tags might affect memory usage in RANS2P:

https://github.com/erdc/proteus/blob/master/proteus/mprans/RANS2P.py#L663-L667

[2020-08-31 20:30] ejtovar commented on #1224
Oops! I will try to fix this ASAP.

[2020-08-31 20:38] zhang-alvin commented on #1224
@ejtovar, you should check if something similar is being done with SWFlow, but I don't think you need to rush to fix this as this is likely a very involved fix. But this is something that we have to keep in mind in terms of system design.

One way to resolve this would be to use a dictionary of numpy arrays with the key as the boundary tag and the value as the corresponding numpy array. @cekees me

[2020-09-10 17:58] #1221 closed

[2020-09-10 17:59] jhcollins commented on #1221
figured out

[2020-09-17 14:33] cekees commented on #1215
@jhcollins could you check this on 294ad07122150a6e0429dcccb6561a41e2cfba66?

[2020-09-17 20:10] jhcollins commented on #1215
Will do

[2020-09-21 22:38] jhcollins commented on #1215
compared 3d fsi convergence from https://github.com/erdc/proteus/commit/294ad07122150a6e0429dcccb6561a41e2cfba66 and https://github.com/erdc/proteus/commit/66b670184e1544e857aa9dd5bb275518651efd57

There doesnt seem to be any discrepancy

[2020-10-07 21:06] SavantG opened #1235 "Hot start not advancing the time step"
Hot starting using -H isn't progressing the time step on successful convergence. Below is a snippet of the log
"
[      39] ==============================================================
[      39] Solving over interval [ 4.30000e+01, 4.40000e+01]
[      39] ==============================================================
[      39] System time step t= 4.30067e+01, dt= 6.65406e-03
[      39] saving

[2020-10-15 15:27] zhang-alvin commented on #1235
Closing this as #1236 should have addressed this.

[2020-10-15 15:27] #1235 closed

[2020-10-15 15:59] zhang-alvin commented on #1209
I believe this was addressed in #1210. Thanks @jhcollins.

[2020-10-15 15:59] #1209 closed

[2020-11-04 14:56] zhang-alvin commented on #1069
Handled in #1035 which went into #1038

[2020-11-04 14:56] #1069 closed

[2022-05-19 13:14] minrk opened #1258 "Chrono 7 renames ANCF headers"
Chrono 7 has [renamed some ANCF](https://github.com/projectchrono/chrono/blob/7.0.0/CHANGELOG.md#changed-ancf-element-improvements-and-additions) resources, causing compilation to fail with e.g.

[code]

Presumably just needs some `#if`s in the right place to include the new names.

[2022-05-19 15:24] cekees commented on #1258
Thanks @minrk ! I’ll take a look.

[2022-06-29 23:33] cekees commented on #1258
Fixed by #1261

[2022-06-29 23:33] #1258 closed

[2022-06-29 23:35] cekees commented on #1224
@ejtovar do you recall if this was ever addressed? Might be something one of my students could work on.

[2022-06-30 04:25] ejtovar commented on #1224
@cekees No, I believe this hack is still there.

[2022-09-11 18:54] whtsao opened #1267 "How to compute the SolitaryWave in WaveTools"
@adimako Hi, I have a simple question regarding the ‘SolitaryWave’ in WaveTools. I studied the first-order Boussinesq’s solitary wave solution in “Boussinesq, M.J., 1871.Théorie de l’intumescence liquide, appellee onde solitaire ou de translation, se propageant dans un canal rectangulaire. C. R. l'Acad. Sci.72, 755–759.”, but found our equation is slightly different from Eq. (42) shown in Boussine

[2022-09-30 17:17] adimako commented on #1267
@whtsao sorry for the late reply. The equations were copied essentially from the waves2foam library and in particular from https://github.com/ogoe/waves2Foam/blob/master/src/waves2Foam/waveTheories/solitary/solitaryFirst/solitaryFirst.C - see function eta and U. The reason for that is that I had validated whilst at HR Wallingford with analytical solutions. The original reference is         Hydrody

[2022-10-03 15:05] whtsao commented on #1267
@adimako thanks for the information. I will go thriugh the wave theory and the solutions.

[2022-10-03 15:05] #1267 closed

[2022-10-07 12:04] ghylander opened #1268 "CNW with CombineWaves, RandomWaves, NewWave"
Hi, I'm looking to create a CNW (Time Domain Simulation of Jack-up Dynamics With the Extremes of a Gaussian Process, Taylor et al 1997) eta time series

I'm trying to generate it using the `wavetools` module, but I'm unsure about certain steps to create the involved classes.

First, I'm trying to create the `NewWave` object.
I had previously implmented this myself, approaching the problem by assum

[2022-10-07 13:53] adimako commented on #1268
hello @ghylander. Few points to help you:

- mwl is the level of the water according to coordinates, e.g. if your gravity direction is aligned with the z axis and the water level is set at z=10 - then mwl = 10
- depth is the distance from the seabed (assuming a flat seabed) e.g if the seabed is at z=-10 then according to previous example, depth=20
- waveDir is the unit vector aligned with directio

[2022-10-10 07:52] ghylander commented on #1268
Hi @adimako, thanks for your comment.

The first two points (regarding `mwl` and `depth`) were very insightful. I didn't understand the difference between the two. Now I understand the former is the distance between the z=0 origin point and the letter the actual distance between the surface and the seabed.

Thanks for the comments on how to input the `waveDir` and `g` parameters, I had the wrong i

[2022-10-10 16:21] cekees commented on #1268
The `CombineWaves` class assumes the principle of superposition applies to solutions. That is, it sums wave heights (or velocities) over the list of wave objects ("wave conditions") provided by the user: https://github.com/erdc/proteus/blob/main/proteus/WaveTools.py#L3328.

[2022-10-11 08:38] ghylander commented on #1268
I see thanks

Would you be interested in a CNW theory implementation for proteus?
I can provide the basic python code, but I don't have experience with cython to the point where I could fully implement it

[2022-10-11 19:38] cekees commented on #1268
Yes, probably the thing to do is get things implemented in WaveTools.py first, along with tests covering the new class added to https://github.com/erdc/proteus/blob/main/proteus/tests/wave_tests/test_wavetools.py.  The process is basically to fork proteus and then do a pull request from your fork with your changes. The general requirements for accepting a PR are that it provides something useful a

[2022-10-12 21:19] whtsao opened #1269 "using ‘-O petsc.options.superlu_dist’ for an example in proteus tutorial"
I am testing the floating_body.py in /proteus_tutorial/2d on LSU HPC.
I think this file is the one runs with proteus/1.8.1.
Usually I put in my job script, but this time some errors come out.
The e.err is attached.
[e.err.txt](https://github.com/erdc/proteus/files/9768743/e.err.txt)

It shows something like "AttributeError: usePETScOptionsFileExternal is not an option for class TwoPhaseFlowProblem

[2022-10-14 07:00] #1268 closed

[2022-10-14 07:33] ghylander commented on #1268
Some notes before I get to work and opening a PR

How would you like the class to be used?
To apply the theory, first one would create a random wave, with its own Hs, Tp, etc
Then, the NewWave is generated (using the appropriate Hs, Tp, etc). The NewWave formula is not applied, however. Only the auto-correlation function (or unit NewWave) is needed.
The required parameters for the CNW are the foll